/* .container {
    margin: 0 auto;
    color: azure
} */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content {
  background: #fff;
  padding: 24px;
  width: 320px;
  height: 250px;
  border-radius: 8px;
  text-align: center;
}

.closeBtn {
    background-color: darkgrey;
    color: rgb(0, 10, 18);
    padding: 10px;
    border-radius: 16px;
    border: 1px solid grey ;
}